/* Reset default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.824)),
              url(https://cdn.shopify.com/s/files/1/0556/1876/4985/products/1_3d9be144-3289-42e8-a611-5c12d6911a21_1024x1024@2x.png?v=1670524739);
  color: ivory;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(39, 39, 40);
  padding: 10px 20px;
}

.header-title {
  font-size: 28px;
  font-weight: bold;
}

.header-link {
  font-size: 20px;
  text-decoration: none;
  color: ivory;
}

/* Calendar Container */
.calendar-container {
  text-align: center;
  padding-top: 100px;
  padding-left: 27%;
}

/* Calendar Styles */
.calendar {
  background-color: rgb(28, 26, 26);
  border-radius: 5px;
  padding: 10px;
  width: 60%;
}

/* Event Form Container */
.event-form-container {
  text-align: center;
  padding-top: 50px;
  padding-left: 25%;
}

/* Event Form Styles */
.event-form {
  background-color: rgb(43, 42, 42);
  border-radius: 10px;
  padding: 10px;
  width: 65%;
}

.form-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Form Input Styles */
input[type="text"],
input[type="date"],
input[type="time"],
select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

/* Submit Button */
.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.submit-button:hover {
  background-color: #45a049;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .calendar-container,
  .event-form-container {
    padding: 50px 10%;
  }

  .calendar {
    width: 100%;
  }

  .event-form {
    width: 100%;
  }
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: rgb(57, 56, 56);
  border: 1px solid rgb(88, 88, 86);
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

td {
  border: 1px solid rgb(0, 0, 0);
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

/* Month Navigation Styles */
.prev-month,
.next-month {
  color: rgb(60, 60, 60);
  cursor: pointer;
}

.current-month:hover {
  background-color: #000000;
}

/* Event Styles */
.event {
  background-color: #616161;
  border-radius: 5px;
  color: rgb(224, 217, 217);
  font-size: 14px;
  padding: 5px;
  margin-top: 5px;
}

.event-title {
  font-weight: bold;
  color: ivory;
}
